<!DOCTYPE html>

<html lang="en">
<title>VK Auth</title>
<body>
<button onclick="entry()">Авторизация</button>

<script>
	console.log("test");

	function entry() {
		window.location = "https://oauth.vk.com/authorize";
	}
</script>
</body>

</html>